body {
  font: 17px/33px 'Google Sans', Arial, sans-serif;
  background: #FFFFFF;
  color: #202124;
}

@media (max-width: 768px) {
  body {
    font-size: 15px;
  }

  .wrapper {
    padding: 5px;
  }
}

.wrapper {
  border: solid 1px #DADCE0;
  border-radius: 8px;
  min-height: 720px;
  padding: 20px;
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
}

.letter {
  max-width: 650px;
  margin: 0 auto;
  transition: all 0.3s ease;
}

img {
  display: block;
  margin: 30px auto;
  opacity: 1;
  animation: logo 6s 1 ease;
  transform: scale(0.8);
}

@keyframes logo {
  0% { opacity: 0; transform: scale(1); }
  20% { opacity: 0; transform: scale(1); }
  50% { opacity: 1; transform: scale(1); }
  100% { opacity: 1; transform: scale(0.8); }
}

.typed-cursor {
  opacity: 1;
  animation: typedjsBlink 0.9s infinite;
}

@keyframes typedjsBlink {
  50% { opacity: 0.0; }
}

.typed-fade-out {
  opacity: 0;
  transition: opacity .57s;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

#interestedButton {
  background-color: #4285F4; /* Google Blue */
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-family: 'Google Sans', Arial, sans-serif;
  font-size: 16px;
  cursor: pointer;
}

#interestedButton:hover {
  background-color: #357ae8; /* Darker shade for hover effect */
}

.inline-profile-pic {
  width: 40px; /* Adjust size as needed */
  height: 40px;
  border-radius: 50%; /* Circular shape */
  object-fit: cover;
  vertical-align: middle; /* Aligns with the middle of the text */
}

/* New class for making text invisible quickly */
.invisible {
  opacity: 0;
  transition: opacity 0.1s ease-out;
}
