body {
  font: 17px/33px 'Google Sans', monospace;
  background: white;
  color: black;
}

.wrapper {
  border: solid 2px #F2F4F4;
  border-radius: 4px;
  min-height: 720px;
  padding: 10px;
}

.letter {
  max-width: 650px;
  margin: 0 auto;
}

img {
  display: block;
  margin: 15px auto 0;
  margin-top: 35px;
  opacity: 1;
  animation: logo 6s 1 ease;
  transform: scale(0.7);
  filter: invert(0%);
}

@keyframes logo {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  20% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(0.7);
  }
}
.typed-cursor {
  opacity: 1;
  animation: typedjsBlink 0.9s infinite;
  -webkit-animation: typedjsBlink 0.9s infinite;
  animation: typedjsBlink 0.9s infinite;
}

@keyframes typedjsBlink {
  50% {
    opacity: 0.0;
  }
}
@-webkit-keyframes typedjsBlink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.0;
  }
  100% {
    opacity: 1;
  }
}
.typed-fade-out {
  opacity: 0;
  transition: opacity .57s;
  -webkit-animation: 0;
  animation: 0;
}
